.skill-icon, .upgrade-icon { width: 90px; height: 90px; }
.skill-icon img, .upgrade-icon img { max-width: 100%; width: auto; vertical-align: middle; }

#mouse-tooltip, .char-info, .skill-effects { border-radius: 5px; padding: 8px 12px; }
#mouse-tooltip p:first-child, .char-info p:first-child, .skill-effects p:first-child { margin-top: 0; }
#mouse-tooltip p:last-child, .char-info p:last-child, .skill-effects p:last-child { margin-bottom: 0; }

#mouse-tooltip .info, .icon-details, .char-info .info, .skill-effects dd { font-size: x-small; padding: 2px 4px; border-radius: 5px; font-weight: bold; background: black; background: rgba(0, 0, 0, 0.5); color: #fff; z-index: 30; white-space: nowrap; }

#mouse-tooltip { max-width: 300px; font-size: small; z-index: 999; background: rgba(255, 246, 142, 0.95); color: #222; border: none; }

.skill-icon, .upgrade { position: relative; z-index: 10; }
.skill-icon:after, .upgrade:after { position: absolute; z-index: 20; display: block; top: 1px; bottom: 1px; left: 1px; right: 1px; content: ' '; background: black; opacity: 0.55; }

#mouse-tooltip .cost, .char-info .char-total-cost .cost, .skill-effects dt.total_cost span, .upgrade-popup .cost { padding-left: 24px; min-height: 21px; background: url('../img/solar_small.png?1367166637') no-repeat center left; }

.build-cancel, .skill-cancel { background: transparent url('../img/cancel.png?1367501974') no-repeat top left; color: rgba(217, 89, 38, 0.8); font-family: verdana; font-size: 24px; cursor: pointer; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%; }

body { margin: 0; padding: 10px; height: 100%; }
body, body.page-blue { background-color: #001D2F; background-image: -webkit-gradient(radial, 800px 800px, 0, 800px 800px, 100, color-stop(0%, #02526d), color-stop(100%, #001322)); background-image: -webkit-radial-gradient(800px 800px, #02526d, #001322); background-image: -moz-radial-gradient(800px 800px, #02526d, #001322); background-image: -o-radial-gradient(800px 800px, #02526d, #001322); background-image: radial-gradient(800px 800px, #02526d, #001322); background-image: -webkit-gradient(radial, 90% 90%, 0, 90% 90%, 100, color-stop(0%, #02526d), color-stop(100%, #001322)); background-image: -webkit-radial-gradient(90% 90%, #02526d, #001322); background-image: -moz-radial-gradient(90% 90%, #02526d, #001322); background-image: -o-radial-gradient(90% 90%, #02526d, #001322); background-image: radial-gradient(90% 90%, #02526d, #001322); }
body.page-red { background-color: #6D0206; background-image: -webkit-gradient(radial, 800px 800px, 0, 800px 800px, 100, color-stop(0%, #6d0206), color-stop(100%, #220000)); background-image: -webkit-radial-gradient(800px 800px, #6d0206, #220000); background-image: -moz-radial-gradient(800px 800px, #6d0206, #220000); background-image: -o-radial-gradient(800px 800px, #6d0206, #220000); background-image: radial-gradient(800px 800px, #6d0206, #220000); background-image: -webkit-gradient(radial, 90% 90%, 0, 90% 90%, 100, color-stop(0%, #6d0206), color-stop(100%, #220000)); background-image: -webkit-radial-gradient(90% 90%, #6d0206, #220000); background-image: -moz-radial-gradient(90% 90%, #6d0206, #220000); background-image: -o-radial-gradient(90% 90%, #6d0206, #220000); background-image: radial-gradient(90% 90%, #6d0206, #220000); }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body, button, select, input, textarea, label { color: whitesmoke; font-family: Verdana, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; line-height: 1.3125em; }

.ir, .build-cancel, .skill-cancel { border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before, .build-cancel:before, .skill-cancel:before { content: ""; display: block; width: 0; height: 100%; }

.hidden, .mouse-tooltip-hidden, .char-builder .current-char { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .current-char:before, .current-char-skill:before, .clearfix:after, .current-char:after, .current-char-skill:after { content: " "; display: table; }
.clearfix:after, .current-char:after, .current-char-skill:after { clear: both; }
.clearfix, .current-char, .current-char-skill { *zoom: 1; }

@media only screen and (max-width: 640px) { .no-small { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 979px) { .no-medium { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 980px) { .no-large { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 979px) { .only-small { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 980px) { .only-small { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-medium { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 980px) { .only-medium { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-large { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 641px) and (max-width: 979px) { .only-large { display: none !important; visibility: hidden; } }

#mouse-tooltip { position: absolute; top: 0; left: 0; pointer-events: none; }

#warning { position: fixed; bottom: 2px; left: 0; font-size: 11px; line-height: 11px; margin: 0; }

.icon-details { position: absolute; bottom: 0; }

body.page-red #container, body.page-red .chars-list-container, body.page-red .current-char { height: 100%; }

.current-char { padding-bottom: 100px; background-image: -webkit-gradient(radial, 50% -100px, 0, 50% -100px, 600, color-stop(0%, rgba(230, 202, 8, 0.8)), color-stop(100%, transparent)); background-image: -webkit-radial-gradient(50% -100px, rgba(230, 202, 8, 0.8), transparent 600px); background-image: -moz-radial-gradient(50% -100px, rgba(230, 202, 8, 0.8), transparent 600px); background-image: -o-radial-gradient(50% -100px, rgba(230, 202, 8, 0.8), transparent 600px); background-image: radial-gradient(50% -100px, rgba(230, 202, 8, 0.8), transparent 600px); }

.current-char-box { padding: 10px; border-radius: 5px; background: rgba(0, 0, 0, 0.5); font-size: small; margin: 5px; }
.current-char-box p:first-child { margin-top: 0; }
.current-char-box p:last-child { margin-bottom: 0; }

.current-char-left, .current-char-right { width: 30%; height: auto; max-height: 100%; overflow: auto; }
.current-char-left::-webkit-scrollbar, .current-char-right::-webkit-scrollbar { width: 12px; }
.current-char-left::-webkit-scrollbar-track, .current-char-right::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 5px; }
.current-char-left::-webkit-scrollbar-thumb, .current-char-right::-webkit-scrollbar-thumb { border-radius: 5px; background: rgba(0, 0, 0, 0.5); }

.current-char-left { float: left; max-height: 100%; overflow: auto; }

.current-char-info { float: left; width: 40%; text-align: center; position: relative; height: 100%; }

.current-char-name { position: absolute; bottom: 60px; left: 0; right: 0; font-size: 4em; margin: 0; line-height: 1; text-shadow: 0 2px 6px black; }
@media only screen and (max-height: 780px) { .current-char-name { font-size: 3em; } }

.current-char-right { float: right; }

.current-char-image { height: auto; max-height: 100%; }

@media only screen and (max-height: 780px) { .current-char-skill { font-size: 11px; } }

.current-char-skill-icon { float: left; margin: 10px; margin-left: 0; }
.current-char-skill-icon img { width: 60px; }
@media only screen and (max-height: 780px) { .current-char-skill-icon img { width: 40px; } }

.chars-list { list-style-type: none; margin: 0; padding: 0; }
.chars-list-container .chars-list { position: fixed; left: 0; right: 0; bottom: 0; height: 100px; text-align: center; }
.chars-list .char { display: inline-block; cursor: pointer; padding: 0; margin: 3px 0; border: 5px solid transparent; }
.chars-list .char:hover, .chars-list .char.active { border-color: #FFF292; border-radius: 5px; }
.chars-list .char.active { border-color: #ffec5f; }
.chars-list .char-icon { vertical-align: middle; width: 80px; }

.build { width: 1104px; margin: 20px; position: relative; }

.build-cancel { background-size: 32px 32px; width: 28px; height: 32px; position: absolute; left: 690px; top: -17px; z-index: 100; opacity: 0.3; }
.build-cancel.active { opacity: 1; }
.build-cancel.active:hover { opacity: 0.9; }

.char-builder .chars-list .char { border-width: 1px; margin: 2px 0 2px -4px; }
.char-builder .chars-list .char:hover, .char-builder .chars-list .char.active { border-radius: 0; }
.char-builder .chars-list .char.home-button:hover, .char-builder .chars-list .char.home-button.active { border-color: transparent; opacity: 0.8; }
.char-builder .chars-list .char-icon { width: 20px; }

.char-info { margin-left: 644px; padding-left: 0; padding-top: 0; margin-top: 20px; }
.char-info .char-icon { float: left; margin-right: 20px; }
.char-info .info { font-size: 1em; }

.skill-wrapper { margin: 3px auto; position: relative; }

.skill-wrapper > div, .skill > div { display: inline-block; vertical-align: top; }

.skill { display: inline-block; text-align: left; border-radius: 50px 0px 0px 50px; padding: 5px 8px 5px 5px; background-color: rgba(38, 166, 217, 0.8); position: relative; max-height: 100px; }

.skill-effects { padding-top: 7px; position: absolute; top: 0; right: 0; text-align: left; border-radius: 0; font-size: 13px; line-height: 1.25em; width: 400px; max-height: 100px; min-height: 100px; overflow: hidden; -webkit-transition-property: max-height, background, line-height; -moz-transition-property: max-height, background, line-height; -o-transition-property: max-height, background, line-height; transition-property: max-height, background, line-height; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: easeout; -moz-transition-timing-function: easeout; -o-transition-timing-function: easeout; transition-timing-function: easeout; z-index: 40; }
.skill-effects dl { margin: 0; display: inline-block; width: 184px; vertical-align: top; }
.skill-effects dt, .skill-effects dd { display: inline; margin: 0; }
.skill-effects dt.total_cost span { display: inline-block; line-height: 21px; }
.skill-effects dd:after { content: '\A'; white-space: pre; }

.skill-wrapper:hover > .skill-effects, .skill-effects:hover { background-color: #1E8FBC; max-height: 600px; overflow: visible; z-index: 50; }

.skill-info { position: relative; }

.skill-icon { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.skill-cost { left: 20px; }

.skill-icon { margin: 0 2px; }
.skill-icon:after { border-radius: 50px; }
.skill.active .skill-icon:after { display: none; }

.skill-cancel { margin-top: 32px; background-size: 24px 24px; width: 21px; height: 24px; opacity: 0.3; }
.skill-cancel.active { opacity: 1; }
.skill-cancel.active:hover { opacity: 0.9; }

.upgrade { display: inline-block; vertical-align: top; margin: 0 2px; cursor: pointer; }
.skill.jump .upgrade:after { border-radius: 8px 8px 25px 25px/90px 90px 20px 20px; }
.upgrade.active:after { display: none; }
.upgrade.locked { cursor: not-allowed; }

.upgrade-icon { -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.upgrade-cost { right: 0; }

.upgrade-step { left: 0; display: none; background-color: #B07C06; }
.upgrade-step.max { background-color: #07AF26; }
.upgrade.active .upgrade-step { display: block; }
