@font-face { font-family: "Zekton"; src: url('../fonts/zekton_rg-webfont.woff?1457698554') format('woff'), url('../fonts/zekton_rg-webfont.ttf?1457698554') format('truetype'), url('../fonts/zekton_rg-webfont.eot?1457698554') format('embedded-opentype'), url('../fonts/zekton_rg-webfont.svg?1457698554') format('svg'); }
.skill-icon, .upgrade-icon, .order-icon { width: 90px; height: 90px; }
.forum .skill-icon, .forum .upgrade-icon, .forum .order-icon { width: 75px; height: 75px; }
.skill-icon img, .upgrade-icon img, .order-icon img { max-width: 100%; width: auto; vertical-align: middle; }

#mouse-tooltip, .char-info, .skill-wrapper > .skill-effects { border-radius: 5px; padding: 8px 12px; }
#mouse-tooltip p:first-child, .char-info p:first-child, .skill-wrapper > .skill-effects p:first-child { margin-top: 0; }
#mouse-tooltip p:last-child, .char-info p:last-child, .skill-wrapper > .skill-effects p:last-child { margin-bottom: 0; }

#mouse-tooltip .info, .icon-details, .char-info .info, .char-info .xp-level .xp-number, .skill-effects dd { font-size: 11px; padding: 2px 4px; border-radius: 5px; font-weight: bold; background: black; background: rgba(0, 0, 0, 0.5); color: #fff; z-index: 30; white-space: nowrap; }

#mouse-tooltip { max-width: 300px; font-size: small; z-index: 999; background: rgba(255, 246, 142, 0.95); color: #222; border: none; }

.skill-icon, .upgrade { position: relative; z-index: 10; }
.skill-icon:after, .upgrade:after { position: absolute; z-index: 20; display: block; top: 0; bottom: 0; left: 0; right: 0; content: ' '; background: black; opacity: 0.55; }

#mouse-tooltip .cost, .char-info .char-total-cost .cost, .skill-effects dt.total_cost span, .upgrade-popup .cost { padding-left: 24px; min-height: 21px; background: url('../img/solar_small.png?1457698554') no-repeat center left; }

.char-info .xp-level .xp { padding-left: 28px; min-height: 21px; background: url('../img/xp.png?1457969757') no-repeat center left; background-size: 26px auto; }

.build-cancel, .skill-cancel { background: transparent url('../img/cancel.png?1457698554') no-repeat top left; color: rgba(217, 89, 38, 0.8); font-family: verdana; font-size: 24px; cursor: pointer; }

#footer button, .forum .char-forum-switch button { display: inline-block; font-family: verdana; background: rgba(255, 255, 255, 0.2); border: none; border-radius: 3px; padding: 2px 4px; margin: 0; color: #ccc; text-decoration: none; }
#footer button:hover, .forum .char-forum-switch button:hover, #footer button:focus, .forum .char-forum-switch button:focus { background: none; text-decoration: underline; }

.warning { background: rgba(255, 0, 0, 0.5); text-align: center; color: white; padding: 10px; }
.warning a { color: white; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; min-height: 100%; }
html.page-red { height: 100%; min-height: 0; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 1px; }

h1 { font-size: 2em; margin: 0.67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type=text], textarea { border: 0; background: transparent; background: rgba(255, 255, 255, 0.2); font-family: verdana; font-size: small; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body, button, select, input, textarea, label { color: whiteSmoke; font-family: Zekton, Verdana, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; line-height: 1.3125em; }
.forum body, .forum button, .forum select, .forum input, .forum textarea, .forum label { color: #222; }

body { margin: 0; padding-bottom: 30px; height: 100%; background-position: top left; }
body, .page-blue body { background-color: #001D2F; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjgwMHB4IiBjeT0iODAwcHgiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMjUyNmQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDEzMjIiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -moz-radial-gradient(800px 800px, #02526d, #001322); background-image: -webkit-radial-gradient(800px 800px, #02526d, #001322); background-image: radial-gradient(800px 800px, #02526d, #001322); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNTI2ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMTMyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -moz-radial-gradient(50% 50%, #02526d, #001322); background-image: -webkit-radial-gradient(50% 50%, #02526d, #001322); background-image: radial-gradient(50% 50%, #02526d, #001322); }
.page-red body { background-color: #6D0206; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjgwMHB4IiBjeT0iODAwcHgiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2ZDAyMDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjAwMDAiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -moz-radial-gradient(800px 800px, #6d0206, #220000); background-image: -webkit-radial-gradient(800px 800px, #6d0206, #220000); background-image: radial-gradient(800px 800px, #6d0206, #220000); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkMDIwNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyMDAwMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -moz-radial-gradient(50% 50%, #6d0206, #220000); background-image: -webkit-radial-gradient(50% 50%, #6d0206, #220000); background-image: radial-gradient(50% 50%, #6d0206, #220000); }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .page-red body { height: auto; } }
.forum body { background: transparent; }

.ir, .build-cancel, .skill-cancel { border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before, .build-cancel:before, .skill-cancel:before { content: ""; display: block; width: 0; height: 100%; }

.hidden, .mouse-tooltip-hidden, .forum #footer, .forum .console-info, .current-char.mini, .forum .chars-list, .forum .build-cancel, .char-builder .current-char, .forum-hidden, .forum .skill-wrapper > .skill-effects, .forum .skill-cancel { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.zinvisible { visibility: hidden; }

.clearfix:before, .current-char:before, .current-char-skill:before, .char-builder:before, .char-info:before, .forum .forum-info:before, .clearfix:after, .current-char:after, .current-char-skill:after, .char-builder:after, .char-info:after, .forum .forum-info:after { content: " "; display: table; }
.clearfix:after, .current-char:after, .current-char-skill:after, .char-builder:after, .char-info:after, .forum .forum-info:after { clear: both; }
.clearfix, .current-char, .current-char-skill, .char-builder, .char-info, .forum .forum-info { *zoom: 1; }

@media only screen and (max-width: 640px) { .no-small { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 979px) { .no-medium { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 980px) { .no-large { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 979px) { .only-small { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 980px) { .only-small { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-medium { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 980px) { .only-medium { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-large { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 641px) and (max-width: 979px) { .only-large { display: none !important; visibility: hidden; } }

#mouse-tooltip { position: absolute; top: 0; left: 0; pointer-events: none; }

#footer { margin: 0 4%; text-align: center; font-size: 12px; font-family: verdana; line-height: 13px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { #footer { margin: 2% 4%; } }
@media only screen and (min-height: 900px) { .page-blue #footer { position: fixed; bottom: 10px; left: 0; right: 0; } }
#footer p { margin: 0 5px 0 0; display: inline-block; }
#footer a { color: #ccc; }
#footer a:hover, #footer a:focus { text-decoration: none; }
#footer form { display: inline; margin-left: -4px; }

.icon-details { position: absolute; bottom: 0; }

.forum #container { padding-top: 0; overflow: hidden; width: 760px; height: 500px; }

.console-info { position: absolute; top: 10px; right: 10px; display: block; height: 26px; width: 40px; background: url('../img/pc_white_transparent.png?1457698554') no-repeat 99% 1%; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .console-info { display: none; } }
.console .console-info { background: url('../img/gamepad_white_transparent.png?1457698554') no-repeat 99% 1%; }

.forum * { cursor: default; }

.page-red #container, .page-red .chars-list-container, .page-red .current-char { height: 100%; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .page-red #container, .page-red .chars-list-container, .page-red .current-char { height: auto; } }

#mobileHeader { display: none; font-size: 3em; text-align: center; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { #mobileHeader { display: inherit !important; } }

.current-char { padding-bottom: 100px; background-image: -webkit-gradient(radial, 50% -100px, 0, 50% -100px, 600, color-stop(0%, rgba(230, 202, 8, 0.8)), color-stop(100%, transparent)); background-image: -webkit-radial-gradient(50% -100px, rgba(230, 202, 8, 0.8), transparent 600px); background-image: -moz-radial-gradient(50% -100px, rgba(230, 202, 8, 0.8), transparent 600px); background-image: -o-radial-gradient(50% -100px, rgba(230, 202, 8, 0.8), transparent 600px); }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .current-char { display: none; } }

.current-char-box { padding: 10px; border-radius: 5px; background: rgba(0, 0, 0, 0.5); font-size: small; margin: 5px; }
.current-char-box p:first-child { margin-top: 0; }
.current-char-box p:last-child { margin-bottom: 0; }

.current-char-left, .current-char-right { width: 30%; height: auto; max-height: 85%; overflow: auto; }
.current-char-left::-webkit-scrollbar, .current-char-right::-webkit-scrollbar { width: 12px; }
.current-char-left::-webkit-scrollbar-track, .current-char-right::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 5px; }
.current-char-left::-webkit-scrollbar-thumb, .current-char-right::-webkit-scrollbar-thumb { border-radius: 5px; background: rgba(0, 0, 0, 0.5); }

.current-char-left { float: left; }

.current-char-info { float: left; width: 40%; text-align: center; position: relative; height: 100%; }

.current-char-name { position: absolute; bottom: 60px; left: 0; right: 0; font-size: 4em; margin: 0; line-height: 1; text-shadow: 0 2px 6px black; }
@media only screen and (max-height: 780px) { .current-char-name { font-size: 3em; } }

.current-char-right { float: right; }

.current-char-image { height: auto; max-height: 70%; max-width: 100%; margin-top: 10%; }

.current-char-skill-icon { float: left; margin: 10px; margin-left: 0; }
.current-char-skill-icon img { width: 60px; }
@media only screen and (max-height: 780px) { .current-char-skill-icon img { width: 40px; } }

.current-char-placeholder { height: 100%; max-width: 667px; margin: 0 auto; background: url('../img/nautsbuilder.png?1457698554') no-repeat center center; background-size: 100% auto; }

.chars-list { list-style-type: none; margin: 0; padding: 0; }
.chars-list-container .chars-list { position: fixed; left: 0; right: 0; bottom: 30px; text-align: center; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .chars-list-container .chars-list { position: inherit; } }
.chars-list .char { display: inline-block; cursor: pointer; padding: 0; margin: 3px 0; border: 2px solid transparent; }
.chars-list .char:hover, .chars-list .char.active { border: solid 2px #FFF292; }
.chars-list .char.active, .chars-list .char.beta.active { border-color: #ffec5f; }
.chars-list .char.beta { border-color: rgba(255, 0, 0, 0.6); }
.chars-list .char.beta:after { content: 'beta'; display: block; background: rgba(255, 0, 0, 0.6); pointer-events: none; }
.chars-list-container .chars-list .char.beta { position: relative; border-radius: 5px; }
.chars-list-container .chars-list .char.beta:after { position: absolute; bottom: 0; left: 0; right: 0; }
.char-builder .chars-list .char.beta { position: relative; }
.char-builder .chars-list .char.beta:after { display: none; content: 'currently in beta'; overflow: hidden; position: absolute; top: 120%; left: -56px; padding: 2px 4px; width: 120px; z-index: 200; border-radius: 5px; text-shadow: none; background: rgba(255, 0, 0, 0.6); font-size: 0.7em; pointer-events: none; }
.char-builder .chars-list .char.beta:hover:after { display: block; }
.char-builder .chars-list .char.active.beta:after { display: block; }
.chars-list .char-icon { vertical-align: middle; width: 55px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .chars-list .char-icon { width: 80px; } }
.chars-list.mini { margin: 10px 2% 20px 2%; text-align: center; }
.chars-list.mini .char { border-width: 1px; margin: 2px 0 2px -4px; }
.chars-list.mini .char:hover, .chars-list.mini .char.active { border-radius: 0; }
.chars-list.mini .char.home-button:hover, .chars-list.mini .char.home-button.active, .chars-list.mini .char.console-button:hover, .chars-list.mini .char.console-button.active { border-color: transparent; opacity: 0.8; }
.chars-list.mini .char-icon { height: 30px; width: auto; }

.char-builder { margin: 0 auto; }
.forum .char-builder { margin: 0; }

.char-builder, .build, .skill-wrapper { -moz-transition: width 0.5s; -o-transition: width 0.5s; -webkit-transition: width 0.5s; transition: width 0.5s; width: 1104px; margin-bottom: 20px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .char-builder, .build, .skill-wrapper { width: auto; max-width: 1150px; } }
.forum .char-builder, .forum .build, .forum .skill-wrapper { margin-bottom: 0; }
html:not(.forum) .char-builder.maxed-out .char-builder, html:not(.forum) .char-builder.maxed-out .build, html:not(.forum) .char-builder.maxed-out .skill-wrapper { width: 834px; }

.forum .char-builder, .forum .build, .forum .skill-wrapper, .forum .skill, .forum .order { max-width: 100%; }

html:not(.forum) .char-builder.maxed-out { width: 834px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { html:not(.forum) .char-builder.maxed-out { width: auto; } }

@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .build { overflow-x: auto; padding: 0 0 1% 1%; } }

.build, .order, .char-info { position: relative; -moz-transition-property: width, -moz-transform; -o-transition-property: width, -o-transform; -webkit-transition-property: width, -webkit-transform; transition-property: width, transform; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; }
@media only screen and (min-width: 1400px) { html:not(.forum) .build, html:not(.forum) .order, html:not(.forum) .char-info { -moz-transform: translateX(-135px); -ms-transform: translateX(-135px); -webkit-transform: translateX(-135px); transform: translateX(-135px); }
  .char-builder.maxed-out html:not(.forum) .build, .char-builder.maxed-out html:not(.forum) .order, .char-builder.maxed-out html:not(.forum) .char-info { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }

html:not(.forum) .char-builder.maxed-out .build, html:not(.forum) .char-builder.maxed-out .skill-wrapper { width: 834px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { html:not(.forum) .char-builder.maxed-out .build, html:not(.forum) .char-builder.maxed-out .skill-wrapper { width: auto; } }

.skill { -moz-transition: width 0.5s; -o-transition: width 0.5s; -webkit-transition: width 0.5s; transition: width 0.5s; width: 700px; }
html:not(.forum) .char-builder.maxed-out .skill { width: 430px; }

.order { width: 700px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .order { width: auto; margin: 0 2%; } }
html:not(.forum) .char-builder.maxed-out .order { width: 614px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { html:not(.forum) .char-builder.maxed-out .order { width: auto; } }
.forum .order { width: auto; }

.build-cancel { background-size: 32px 32px; width: 28px; height: 32px; position: absolute; left: 690px; top: -17px; z-index: 100; opacity: 0.3; -moz-transition: left 0.5s; -o-transition: left 0.5s; -webkit-transition: left 0.5s; transition: left 0.5s; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .build-cancel { left: 683px; top: -3px; } }
.build-cancel.active { opacity: 1; }
.build-cancel.active:hover { opacity: 0.9; }
.char-builder.maxed-out .build-cancel { left: 420px; }
.char-builder.maxed-out .build-cancel { background-image: url('../img/done.png?1457698554'); }
.char-builder.maxed-out .build-cancel:hover { background-image: url('../img/cancel.png?1457698554'); }

.char-info { margin-left: 8px; padding-left: 0; padding-top: 0; margin-top: 0; max-width: 380px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .char-info { max-width: 100%; margin: 2% 1%; padding-left: 12px; } }
html:not(.forum) .char-builder.maxed-out .char-info { max-width: 170px; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { html:not(.forum) .char-builder.maxed-out .char-info { max-width: 100%; } }
.char-info .info { font-size: 1em; }
.char-info .xp-level .xp { vertical-align: middle; }
.char-info .xp-level .xp-number { font-size: 1em; width: 3em; border: none; text-align: right; vertical-align: middle; }
.char-info .xp-level .xp-slider { vertical-align: middle; }
.forum .char-info { margin: 0; padding: 0; display: block; float: right; }
.forum .char-info > p { display: inline-block; margin: 0; padding: 2px 4px; }
.forum .char-info > p.char-total-cost { margin-right: 15px; }

.char-info, .order { display: inline-block; vertical-align: top; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .char-info, .order { display: block; text-align: center; } }

.forum .char-forum-switch { margin: 0 15px 0 0; float: left; padding: 0; text-align: center; }
.forum .char-forum-switch li { display: inline; }
.forum .char-forum-switch button { background-color: rgba(30, 143, 188, 0.5); color: white; display: inline-block; min-width: 120px; font-family: Zekton, Verdana, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; cursor: pointer; }
.forum .char-forum-switch button:hover, .forum .char-forum-switch button:focus { background: rgba(30, 143, 188, 0.8); text-decoration: none; }
.forum .char-forum-switch button:active { background: #1a7ea6; }
.forum .char-forum-switch button.switch-active { background: #176e90; }

.forum-snippet { width: 100%; resize: none; font-family: verdana, sans-serif; }

.forum .website-url { display: block; float: left; margin: 0; cursor: pointer; color: #222; padding: 2px 4px; }
.forum .website-url:hover { text-decoration: none; }

.forum .forum-info, .forum .char-info { margin: 5px 0; }

.skill-wrapper { margin: 3px auto; position: relative; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .skill-wrapper { display: inline-flex; } }
.forum .skill-wrapper { max-width: 575px; margin: 3px 0; }

.skill-wrapper > div, .skill > div { display: inline-block; vertical-align: top; }

.skill { display: inline-block; text-align: left; border-radius: 50px 0px 0px 50px; padding: 5px 8px 5px 5px; background-color: #1E8FBC; position: relative; max-height: 100px; overflow: hidden; -webkit-tap-highlight-color: transparent; }
.forum .skill { background-color: rgba(30, 143, 188, 0.5); }
.skill, .skill * { -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

.skill-upgrades { overflow: hidden; }

.skill-wrapper > .skill-effects { padding-top: 7px; position: absolute; top: 0; right: 0; text-align: left; border-radius: 0; font-size: 13px; line-height: 1.25em; width: 404px; max-height: 100px; min-height: 100px; overflow: hidden; -moz-transition-property: max-height, background, line-height; -o-transition-property: max-height, background, line-height; -webkit-transition-property: max-height, background, line-height; transition-property: max-height, background, line-height; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; z-index: 40; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .skill-wrapper > .skill-effects { position: static; overflow: overlay; } }
.skill-effects dl { margin: 0; display: inline-block; width: 184px; vertical-align: top; }
.skill-effects dt, .skill-effects dd { display: inline; margin: 0; }
.skill-effects dt.total_cost span { display: inline-block; line-height: 21px; }
.skill-effects dt[title] { border-bottom: 1px dotted gray; }
.skill-effects dd:after { content: '\A'; white-space: pre; }

.skill-wrapper:hover > .skill-effects, .skill-effects:hover { background-color: #1E8FBC; max-height: 600px; overflow: visible; z-index: 50; }
@media only screen and (max-width: 970px), only screen and (max-height: 675px) { .skill-wrapper:hover > .skill-effects, .skill-effects:hover { overflow: overlay; max-height: 100px; } }

.skill-info { position: relative; }

.skill-icon { cursor: pointer; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

.skill-cost { left: 20px; }
.char-builder.maxed-out .skill-cost { opacity: 0; }

.skill-icon { margin: 0 2px; }
.skill-icon:after { border-radius: 50px; }
.skill.active .skill-icon:after { display: none; }

.skill-cancel { margin-top: 32px; background-size: 24px 24px; width: 21px; height: 24px; opacity: 0.3; }
.skill-maxed-out .skill-cancel { background-image: url('../img/done.png?1457698554'); }
.skill-maxed-out .skill-cancel:hover { background-image: url('../img/cancel.png?1457698554'); }
.skill-cancel.active { opacity: 1; }
.skill-cancel.active:hover { opacity: 0.9; }

.upgrade { display: inline-block; vertical-align: top; margin: 0 2px; cursor: pointer; -moz-transition-property: width, opacity, margin; -o-transition-property: width, opacity, margin; -webkit-transition-property: width, opacity, margin; transition-property: width, opacity, margin; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; width: 90px; opacity: 1; -webkit-tap-highlight-color: transparent; }
.skill.jump .upgrade:after { border-radius: 8px 8px 25px 25px / 90px 90px 20px 20px; }
.forum .skill.jump .upgrade:after { border-radius: 8px 8px 25px 25px / 75px 75px 20px 20px; }
.upgrade.active:after { display: none; }
.skill.active .upgrade.locked { cursor: not-allowed; }
.forum .upgrade { width: 75px; }
html.csstransitions:not(.forum) .char-builder.maxed-out .build .upgrade:not(.active) { width: 0; margin: 0; opacity: 0; overflow: hidden; }
html.nocsstransitions:not(.forum) .char-builder.maxed-out .build .upgrade:not(.active) { display: none; }

.upgrade-icon { max-width: 100%; }

.upgrade-cost, .upgrade-step { opacity: 1; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.upgrade-cost { right: 0; }
.char-builder.maxed-out .upgrade-cost { opacity: 0; }

.upgrade-step { left: 0; opacity: 0; background-color: #B07C06; }
.upgrade-step.max { background-color: #07AF26; }
.upgrade.active .upgrade-step { opacity: 1; }
.char-builder.maxed-out .upgrade-step { opacity: 0; }

.order-title { font-size: 1.2em; margin-top: 0; }
.order-title em { font-size: .8em; }

.order > ul { margin: 0; padding: 0; list-style-type: none; }
.forum .order > ul { padding: 10px; border-radius: 7px; background-color: rgba(30, 143, 188, 0.5); }

.order-item, .sortable-placeholder { display: inline-block; vertical-align: top; position: relative; margin-right: 9px; margin-bottom: 9px; }
html:not(.forum) .order-item, html:not(.forum) .sortable-placeholder { cursor: move; }
.order-item:after, .sortable-placeholder:after { position: absolute; content: ' '; display: block; width: 0; height: 0; border: 5px solid transparent; border-left-color: #fed508; top: 50%; right: -14px; margin-top: -2px; }
.order-item:last-child:after, .sortable-placeholder:last-child:after { display: none; }

.sortable-placeholder { width: 60px; height: 60px; border: 1px dashed gray; }

.order-icon, .forum .order-icon { width: 60px; height: 60px; }
