* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%; }

body { margin: 0; height: 100%; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body, button, select, input, textarea, label { color: #222222; font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; line-height: 1.3125em; }

.ir { border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media only screen and (max-width: 640px) { .no-small { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 979px) { .no-medium { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 980px) { .no-large { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 979px) { .only-small { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 980px) { .only-small { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-medium { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 980px) { .only-medium { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-large { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 641px) and (max-width: 979px) { .only-large { display: none !important; visibility: hidden; } }


.skill > div,
.skill-upgrades,
.upgrade {
	display: inline-block;
}

.upgrade {
	width: 75px;
	height: 75px;
	overflow: hidden;
}

.upgrade img {
	max-width: 100%;
	opacity: 0.5;
}

.upgrade {
	position: relative;
}

#mouse-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	max-width: 300px;
	border-radius: 5px;
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
	font-family: sans-serif;
	font-size: small;
	padding: 8px 12px;

	color: #222;
	background: #f1f1f1;
	border: 1px solid #aaa;
}

.mouse-tooltip-hidden {
	display: none !important;
}