.char-builder {
	margin: 0 auto;
	.forum & {
		margin: 0;
	}
}

.char-builder, .build, .skill-wrapper {
	@include transition(width $compact-transition-time);
	width: $build-width;
	margin-bottom: $build-margin;
	.forum & {
		margin-bottom: 0;
	}
	html:not(.forum) .char-builder.maxed-out & {
		width: $build-width - ($skill-width - $skill-compact-width);
	}
}

.char-builder, .build, .skill-wrapper, .skill, .order {
	.forum & {
		max-width: $skill-width - 25px;
	}
}

html:not(.forum) .char-builder.maxed-out {
	width: $build-width - ($skill-width - $skill-compact-width);
}

.build, .order, .char-info {
	position: relative;
	@include transition-property(width, transform);
	@include transition-duration($compact-transition-time);
	html:not(.forum) & {
		@include respond-to(xlarge) {
			@include transform(translateX(-($build-width - ($build-width - ($skill-width - $skill-compact-width)))/2));
			.char-builder.maxed-out & {
				@include transform(translateX(0));
			}
		}
	}
}

.build, .skill-wrapper {
	html:not(.forum) .char-builder.maxed-out & {
		width: $build-width - ($skill-width - $skill-compact-width);
	}
}

.skill {
	@include transition(width $compact-transition-time);
	width: $skill-width;
	html:not(.forum) .char-builder.maxed-out & {
		width: $skill-compact-width;
	}
}

.order {
	width: $skill-width;
	html:not(.forum) .char-builder.maxed-out & {
		width: $skill-compact-width + 200px - 4px - 12px;
	}
}

.build-cancel {
	.forum & {
		@extend .hidden;
	}
	@extend %cancel;
	background-size: 32px 32px;
	width: 28px;
	height: 32px;
	position: absolute;
	left: $skill-width - 10px;
	top: -17px;
	z-index: 100;
	opacity: 0.3;
	&.active {
		opacity: 1;
		&:hover {
			opacity: 0.9;
		}
	}
	.char-builder.maxed-out & {
		left: $skill-compact-width - 10px;
	}
}

.char-builder {
	.current-char {
		@extend .hidden;
	}
	.chars-list {
		.forum & {
			@extend .hidden;
		}
		margin-bottom: $build-margin;
		text-align: center;
		.char {
			border-width: 1px;
			margin: 2px 0 2px -4px;
			&:hover, &.active {
				border-radius: 0;
			}
			&.home-button, &.console-button {
				&:hover, &.active { border-color: transparent; opacity: 0.8; }
			}
		}
		.char-icon {
			height: 26px;
			width: auto;
		}
	}
}

.char-info {
	@extend %box;
	@extend .clearfix;
	margin-left: 8px;
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	.char-total-cost .cost {
		@extend %cost;
	}
	.info {
		@extend %info;
		font-size: $base-font-size;
	}
	.forum & {
		margin: 15px 0 0;
		padding: 0;
		display: block;
		float: right;
		> p {
			display: inline-block;
			margin-top: 0;
			&.char-total-cost {
				margin-right: 15px;
			}
		}
	}
}

.char-info, .order {
	display: inline-block;
	vertical-align: top;
}

.forum .char-forum-switch {
	margin: 0 0 5px;
	padding: 0;
	text-align: center;
	li {
		display: inline;
	}
	button {
		@extend %light-button;
		background: $blue;
		color: white;
		display: inline-block;
		min-width: 120px;
		font-family: $base-font-family;
		cursor: pointer;
		&:hover, &:focus {
			background: rgba($blue, 0.8);
			text-decoration: none;
		}
		&:active {
			background: rgba($blue, 0.4);
		}
		&.switch-active {
			background: darken($blue, 10%);
		}
	}
}

.forum-hidden {
	@extend .hidden;
}