.char-builder {
	margin: 0 auto;
}

.char-builder, .build, .skill-wrapper {
	@include transition(width $compact-transition-time);
	width: $build-width;
	margin-bottom: $build-margin;
	.char-builder.maxed-out & {
		width: $build-width - ($skill-width - $skill-compact-width);
	}
}
.char-builder.maxed-out {
	width: $build-width - ($skill-width - $skill-compact-width);
}

.build, .order, .char-info {
	position: relative;
	@include transition-property(width, transform);
	@include transition-duration($compact-transition-time);
	@include respond-to(xlarge) {
		@include transform(translateX(-($build-width - ($build-width - ($skill-width - $skill-compact-width)))/2));
		.char-builder.maxed-out & {
			@include transform(translateX(0));
		}
	}
}

.build, .skill-wrapper {
	.char-builder.maxed-out & {
		width: $build-width - ($skill-width - $skill-compact-width);
	}
}

.skill {
	@include transition(width $compact-transition-time);
	width: $skill-width;
	.char-builder.maxed-out & {
		width: $skill-compact-width;
	}
}

.order {
	width: $skill-width;
	.char-builder.maxed-out & {
		width: $skill-compact-width + 200px - 4px - 12px;
	}
}

.build-cancel {
	@extend %cancel;
	background-size: 32px 32px;
	width: 28px;
	height: 32px;
	position: absolute;
	left: $skill-width - 10px;
	top: -17px;
	z-index: 100;
	opacity: 0.3;
	&.active {
		opacity: 1;
		&:hover {
			opacity: 0.9;
		}
	}
	.char-builder.maxed-out & {
		left: $skill-compact-width - 10px;
	}
}

.char-builder {
	.current-char {
		@extend .hidden;
	}
	.chars-list {
		margin-bottom: $build-margin;
		text-align: center;
		.char {
			border-width: 1px;
			margin: 2px 0 2px -4px;
			&:hover, &.active {
				border-radius: 0;
			}
			&.home-button {
				&:hover, &.active { border-color: transparent; opacity: 0.8; }
			}
		}
		.char-icon {
			width: 26px;
		}
	}
}

.char-info {
	@extend %box;
	@extend .clearfix;
	margin-left: 8px;
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	// .char-icon {
	// 	float: left;
	// 	margin-right: 20px;
	// }
	.char-total-cost .cost {
		@extend %cost;
	}
	.info {
		@extend %info;
		font-size: $base-font-size;
	}
}

.char-info, .order {
	display: inline-block;
	vertical-align: top;
}