.char-builder {
	@extend .clearfix;
	margin: 0 auto;
	.forum & {
		margin: 0;
	}
}

.char-builder, .build, .skill-wrapper {
	@include transition(width $compact-transition-time);
	width: $build-width;
	@include respond-to(mobile) {
		width: auto;
		max-width: 1150px;
	}
	margin-bottom: $build-margin;
	.forum & {
		margin-bottom: 0;
	}
	html:not(.forum) .char-builder.maxed-out & {
		width: $build-width - ($skill-width - $skill-compact-width);
	}
}

.char-builder, .build, .skill-wrapper, .skill, .order {
	.forum & {
		max-width: 100%;
	}
}

html:not(.forum) .char-builder.maxed-out {
	width: $build-width - ($skill-width - $skill-compact-width);
	@include respond-to(mobile) {
		width: auto;
	}
}

.build {
	@include respond-to(mobile) {
		overflow-x: auto;
		padding: 0 0 1% 1%;
	}
}

.build, .order, .char-info {
	position: relative;
	@include transition-property(width, transform);
	@include transition-duration($compact-transition-time);
	html:not(.forum) & {
		@include respond-to(xlarge) {
			@include transform(translateX(-($build-width - ($build-width - ($skill-width - $skill-compact-width)))/2));
			.char-builder.maxed-out & {
				@include transform(translateX(0));

			}
		}
	}
}

.build, .skill-wrapper {
	html:not(.forum) .char-builder.maxed-out & {
		width: $build-width - ($skill-width - $skill-compact-width);
		@include respond-to(mobile) {
			width: auto;
		}
	}
}

.skill {
	@include transition(width $compact-transition-time);
	width: $skill-width;
	html:not(.forum) .char-builder.maxed-out & {
		width: $skill-compact-width;
	}
}

.order {
	width: $skill-width;
	@include respond-to(mobile) {
		width: auto;
		margin: 0 2%;
	}
	html:not(.forum) .char-builder.maxed-out & {
		width: $skill-compact-width + 200px - 4px - 12px;
		@include respond-to(mobile) {
			width: auto;
		}
	}
	.forum & {
		width: auto;
	}
}

.build-cancel {
	.forum & {
		@extend .hidden;
	}
	@extend %cancel;
	background-size: 32px 32px;
	width: 28px;
	height: 32px;
	position: absolute;
	left: $skill-width - 10px;
	top: -17px;
	@include respond-to(mobile) {
		left: 683px;
		top: -3px;
	}
	z-index: 100;
	opacity: 0.3;
	@include transition(left $compact-transition-time);
	&.active {
		opacity: 1;
		&:hover {
			opacity: 0.9;
		}
	}
	.char-builder.maxed-out & {
		left: $skill-compact-width - 10px;
	}
	.char-builder.maxed-out & {
		background-image: image-url("done.png");
		&:hover {
			background-image: image-url("cancel.png");
		}
	}
}

.char-builder {
	.current-char {
		@extend .hidden;
	}
}

.char-info {
	@extend %box;
	@extend .clearfix;
	margin-left: 8px;
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	max-width: 380px;
	@include respond-to(mobile) {
		max-width: 100%;
		margin: 2% 1%;
		padding-left: 12px;
	}
	html:not(.forum) .char-builder.maxed-out & {
		max-width: 170px;
		@include respond-to(mobile) {
			max-width: 100%;
		}
	}
	.char-total-cost .cost {
		@extend %cost;
	}
	.info {
		@extend %info;
		font-size: $base-font-size;
	}
	.xp-level {
		.xp {
			@extend %xp;
			vertical-align: middle;
		}
		.xp-number {
			@extend %info;
			font-size: $base-font-size;
			width: 3em;
			border: none;
			text-align: right;
			vertical-align: middle;
		}
		.xp-slider {
			vertical-align: middle;
		}
	}
	.forum & {
		margin: 0;
		padding: 0;
		display: block;
		float: right;
		> p {
			display: inline-block;
			margin: 0;
			padding: 2px 4px;
			&.char-total-cost {
				margin-right: 15px;
			}
		}
	}
}

.char-info, .order {
	display: inline-block;
	vertical-align: top;
	@include respond-to(mobile) {
		display: block;
		text-align: center;
	}
}

.forum .char-forum-switch {
	margin: 0 15px 0 0;
	float: left;
	padding: 0;
	text-align: center;
	li {
		display: inline;
	}
	button {
		@extend %light-button;
		background-color: rgba($blue, 0.5);
		color: white;
		display: inline-block;
		min-width: 120px;
		font-family: $base-font-family;
		cursor: pointer;
		&:hover, &:focus {
			background: rgba($blue, 0.8);
			text-decoration: none;
		}
		&:active {
			background: darken($blue, 5%);
		}
		&.switch-active {
			background: darken($blue, 10%);
		}
	}
}

.forum-hidden {
	@extend .hidden;
}

.forum-snippet {
	width: 100%;
	resize: none;
	font-family: verdana, sans-serif;
}

.forum .website-url {
	display: block;
	float: left;
	margin: 0;
	cursor: pointer;
	color: #222;
	padding: 2px 4px;
	&:hover {
		text-decoration: none;
	}
}

.forum {
	.forum-info {
		@extend .clearfix;
	}
	.forum-info, .char-info {
		margin: 5px 0;
	}
}
