//classes "helpers" qui ne concernent rien en particulier mais qui vont nous aider tout au long du projet

.ir {
  @include image-replacement;
}

.hidden {
  @include hidden;
}

.visuallyhidden {
  @include visually-hidden;
}

.zinvisible {
  @include invisible;
}

.clearfix {
  @include micro-clearfix;
}

.mouse-tooltip-hidden {
  @extend .hidden;
}

.no-small {
  @include respond-to(small) {
    @include hidden;
  }
}

.no-medium {
  @include respond-to(medium) {
    @include hidden;
  }
}

.no-large {
  @include respond-to(large) {
    @include hidden;
  }
}

.only-small {
  @include respond-to(medium) {
    @include hidden;
  }
  @include respond-to(large) {
    @include hidden;
  }
}

.only-medium {
  @include respond-to(small) {
    @include hidden;
  }
  @include respond-to(large) {
    @include hidden;
  }
}

.only-large {
  @include respond-to(small) {
    @include hidden;
  }
  @include respond-to(medium) {
    @include hidden;
  }
}
