.skill-wrapper {
	margin: 3px auto;
	position: relative;
	.forum & {
		max-width: 575px;
		// max-width: 345px;
		margin: 3px 0;
	}
}

.skill-wrapper > div, .skill > div {
	display: inline-block;
	vertical-align: top;
}

.skill {
	display: inline-block;
	text-align: left;
	border-radius: 50px 0px 0px 50px;
	padding: 5px 8px 5px 5px;
	// background-color: hsla(197, 70%, 50%, 0.8);
	background-color: $blue;
	.forum & {
		background-color: rgba($blue, 0.5);
	}
	position: relative;
	max-height: $skill-height;
	overflow: hidden;
	&, & * {
		@include user-select(none);
	}
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.skill-upgrades {
	overflow: hidden;
}

.skill-effects {
	.skill-wrapper > & {
		.forum & {
			@extend .hidden;
		}
		@extend %box;
		padding-top: 7px;
		position: absolute;
		top: 0;
		right: 0;
		text-align: left;
		border-radius: 0;
		//background: rgba(#226E8F, .5);
		font-size: 13px;
		line-height: 1.25em;
		width: $build-width - $skill-width; //4px is margin between skill and effects
		max-height: $skill-height;
		min-height: $skill-height;
		overflow: hidden;
		@include transition-property(max-height, background, line-height);
		@include transition-duration($compact-transition-time);
		z-index: 40;
	}
	dl { margin: 0; display: inline-block; width: 184px; vertical-align: top; }
	//http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css/
	dt, dd {
		display: inline; margin: 0;
	}
	dd {
		@extend %info;
	}
	dt.total_cost span {
		@extend %cost;
		display: inline-block;
		line-height: 21px;
	}
	dt[title] {
		border-bottom: 1px dotted gray;
	}
	dd:after {
		content: '\A';
		white-space: pre;
	}
}

.skill-wrapper:hover > .skill-effects, .skill-effects:hover {
	background-color: $blue;
	// background-color: hsla(197, 70%, 50%, 0.8);
	max-height: 600px;
	overflow: visible;
	z-index: 50;
}

.skill-info {
	position: relative;
}

.skill-icon {
	cursor: pointer;
	@include user-select(none);
}

.skill-cost {
	left: 20px;
	.char-builder.maxed-out & {
		opacity: 0;
	}
}

.skill-icon {
	@extend %icon;
	@extend %dark-box;
	margin: 0 2px;
	&:after {
		border-radius: 50px;
	}
	.skill.active &:after {
		display: none;
	}
}

.skill-cancel {
	.forum & {
		@extend .hidden;
	}
	@extend %cancel;
	.skill-maxed-out & {
		background-image: image-url("done.png");
		&:hover {
			background-image: image-url("cancel.png");
		}
	}
	margin-top: 32px;
	background-size: 24px 24px;
	width: 21px;
	height: 24px;
	opacity: 0.3;
	&.active {
		opacity: 1;
		&:hover {
			opacity: 0.9;
		}
	}
}