.skill-wrapper {
	margin: 3px auto;
	position: relative;
}

.skill-wrapper > div, .skill > div {
	display: inline-block;
	vertical-align: top;
}

.skill {
	display: inline-block;
	text-align: left;
	border-radius: 50px 0px 0px 50px;
	padding: 5px;
	background-color: hsla(197, 70%, 50%, 0.8);
	position: relative;
	max-height: 100px;
}

.skill-effects {
	@extend %box;
	position: absolute;
	top: 0;
	right: 0;
	text-align: left;
	border-radius: 0;
	//background: rgba(#226E8F, .5);
	font-size: 13px;
	line-height: 1.25em;
	width: 400px;
	max-height: 100px;
	min-height: 100px;
	overflow: hidden;
	@include transition-property(max-height, background, line-height);
	@include transition-duration(0.3s);
	@include transition-timing-function(easeout);
	z-index: 40;
	dl { margin: 0; display: inline-block; width: 184px; vertical-align: top; }
	//http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css/
	dt, dd {
		display: inline; margin: 0;
	}
	dd {
		@extend %info;
	}
	dt.total_cost span {
		@extend %cost;
		display: inline-block;
		line-height: 21px;
	}
	dd:after {
		content: '\A';
		white-space: pre;
	}
}

.skill:hover + .skill-effects, .skill-effects:hover {
	background-color: #1E8FBC;
	max-height: 600px;
	overflow: visible;
	z-index: 50;
	// font-size: $base-font-size*.9;
	// line-height: $base-line-height;
}

.skill-info {
	position: relative;
}

.skill-icon {
	cursor: pointer;
	@include user-select(none);
}

.skill-cost {
	left: 20px;
}

.skill-icon {
	@extend %icon;
	@extend %dark-box;
	margin: 0 2px;
	&:after {
		border-radius: 50px;
	}
	.skill.active &:after {
		display: none;
	}
}