.upgrade {
	display: inline-block;
	vertical-align: top;
	@extend %dark-box;
	margin: 0 2px;
	.skill.jump &:after {
		border-radius: 8px 8px 25px 25px / 90px 90px 20px 20px;
	}
	&.active:after {
		display: none;
	}
	cursor: pointer;
	&.locked {
		cursor: not-allowed;
	}
}

.upgrade-icon {
	@extend %icon;
	@include user-select(none);
}

.upgrade-cost {
	right: 0;
}

.upgrade-step {
	left: 0;
	display: none;
	background-color: #B07C06;
	&.max {
		background-color: #07AF26;
	}
	.upgrade.active & {
		display: block;
	}
}

.upgrade-popup .cost {
	@extend %cost;
}