.upgrade {
	display: inline-block;
	vertical-align: top;
	@extend %dark-box;
	margin: 0 2px;
	.skill.jump &:after {
		border-radius: 8px 8px 25px 25px / $icon-width $icon-width 20px 20px;
	}
	&.active:after {
		display: none;
	}
	cursor: pointer;
	.skill.active &.locked {
		cursor: not-allowed;
	}

	@include transition-property(width, opacity);
	@include transition-duration(0.3s, 1s);
	@include transition-timing-function(easeout);
	width: $icon-width;
	opacity: 1;
	.char-builder.maxed-out .build &:not(.active) {
		width: 0;
		margin: 0 1px;
		opacity: 0;
		overflow: hidden;
	}
}

.upgrade-icon {
	@extend %icon;
	max-width: 100%;
}

.upgrade-cost {
	right: 0;
	.char-builder.maxed-out & {
		display: none;
	}
}

.upgrade-step {
	left: 0;
	display: none;
	background-color: #B07C06;
	&.max {
		background-color: #07AF26;
	}
	.upgrade.active & {
		display: block;
	}
	.char-builder.maxed-out & {
		display: none;
	}
}

.upgrade-popup .cost {
	@extend %cost;
}