<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Awesomenauts builder: skills calculator, skills simulator - Make and share you awesomenauts builds!</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
		<link rel="stylesheet" href="css/style.css?v4">
		<!-- <link rel="stylesheet" href="dist/styles.min.css"> -->
		<script src="js/lib/modernizr.custom.js"></script>
	</head>
	<body>
		<!--[if lte IE 8]>
		   <p class="obsolete-browser">You use an <strong>obsolete</strong> browser. <a href="http://browsehappy.com/">Upgrade it</a> to use the web <strong>safely</strong>!</p>
	   <![endif]-->

		<div id="container">

		</div>

		<p id="warning">Warning: this is a work-in-progress. Bugs are not intended but certainly here! <a style="color: #ccc" href="http://www.awesomenauts.com/forum/viewtopic.php?p=147590" target="_blank">Feedback appreciated</a></p>

		<script type="text/template" id="chars-tpl">
			<div class="current-char">
				<% if (currentChar) { %>
					<div class="current-char-left">
						<div class="current-char-box current-char-type">
						<%= _.capitalized(currentChar.get('role')) %> - <%= _.capitalized(currentChar.get('attacktype')) %>
						</div>
						<div class="current-char-box current-char-skills">
							<% currentChar.get('skills').each(function(skill) { %>
							<div class="current-char-skill">
								<div class="current-char-skill-icon"><img src="<%= skill.get('icon') %>" alt=""></div>
								<div class="current-char-skill-desc"><p><%= skill.get('description') %><p></div>
							</div>
							<% }) %>
						</div>
					</div>
					<div class="current-char-info">
						<img class="current-char-image" src="<%= currentChar.get('image') %>" alt="">
						<h1 class="current-char-name"><%= currentChar.get('name') %></h1>
					</div>
					<div class="current-char-right">
						<div class="current-char-box current-char-desc">
							<p><%= currentChar.get('description') %></p>
						</div>
					</div>
				<% } %>
			</div>
			<ul class="chars-list">
			<% _.each(characters, function(character) { %>
				<li class="char <%= currentChar && currentChar.get('name') == character.name ? 'active' : '' %>" data-id="<%= _.underscored(character.name) %>">
					<img class="char-icon" src="<%= character.icon %>" alt="">
				</li>
			<% }); %>
			</ul>
		</script>

		<script type="text/template" id="char-tpl">
			<div class="build"></div>
			<div class="char-info"></div>
			<div class="order"></div>
		</script>

		<script type="text/template" id="build-tpl">
		</script>

		<script type="text/template" id="info-tpl">
			<img class="char-icon" src="<%= icon %>" alt="">
			<div class="char-popup hidden">
				<p><strong><%= name %></strong></p>
				<p><%= description %></p>
			</div>
			<p class="char-total-cost"><span class="cost">Total cost</span>: <span class="info"><%= totalCost %></span></p>
			<p class="char-level"><span>Required level</span>: <span class="info"><%= level %></span></p>
		</script>

		<script type="text/template" id="order-tpl">

		</script>

		<script type="text/template" id="build-skill-tpl">
		<div class="skill <%= active ? 'active' : '' %> <%= type ? type : '' %>">
			<div class="skill-info">
				<div class="skill-icon"><img src="<%= icon %>" alt=""></div>
				<% if (cost > 0) { %><div class="skill-cost icon-details"><%= cost %></div><% } %>
				<div class="skill-popup hidden">
					<p><strong><%= name %></strong></p>
					<p><%= description %></p>
					<p class="cost">Cost: <span class="info"><%= cost %></span></p>
					<p><strong>Effects:</strong><br>
					<% _(baseEffects).each(function(effect) { %>
						<%= _(effect.key).capitalized() %>: <%= effect.value %>;
					<% }) %>
					</p>
				</div>
			</div>
			<div class="skill-upgrades">
			</div>
		</div>
		<% if (effects.length > 0) { %>
		<div class="skill-effects">
		</div>
		<% } %>
		</script>

		<script type="text/template" id="build-skill-effects-tpl">
			<% var finalEffects = _(effects).clone();
			if (totalCost > 0) finalEffects.push({key: "Total cost", value: totalCost});
			_(finalEffects).each(function(effect, i, list) {
				if (i % 5 == 0) { if (i !== 0) { %></dl><% } %><dl><% } %>
				<dt class="<%= _(effect.key).underscored().toLowerCase() %>"><span><%= _(effect.key).capitalized() %>:</span></dt>
				<dd><%= effect.value %></dd>
				<% if (list[i+1] == undefined) { %>
				</dl><% } %>
			<% }) %>
		</script>

		<script type="text/template" id="build-upgrade-tpl">
			<div class="upgrade-icon"><img src="<%= icon %>" alt=""></div>
			<div class="upgrade-cost icon-details "><%= cost %></div>
			<div class="upgrade-step icon-details <%= current_step.get('level') == max_step ? 'max' : '' %>"><%= current_step.get('level') || 0 %>/<%= max_step %></div>
			<div class="upgrade-popup hidden">
				<p><strong><%= name %></strong></p>
				<p><%= description %></p>
				<p class="cost">Cost: <span class="info"><%= cost %></span></p>
				<p><strong>Effects:</strong>
				<% steps.each(function(step) { if (step.get('level') > 0) { %>
				<br>
				<% if (_(current_step).isEqual(step)) { %><strong><% } %>
					Step <%= step.get('level') %>: <%= step.get('description') %>
				<% if (_(current_step).isEqual(step)) { %></strong><% } %>
				<% } }) %>
			</div>
		</script>

		<script src="js/lib/jquery.min.js?v=2"></script>
		<script src="js/lib/underscore.js?v=2"></script>
		<script src="js/lib/backbone.js?v=2"></script>
		<script src="js/lib/tabletop.js?v=2"></script>
		<script src="js/lib/mousetooltip.js?v=2"></script>
		<script src="js/nautsbuilder/utils.js?v4"></script>
		<script src="js/nautsbuilder/data/character.js?v4"></script>
		<script src="js/nautsbuilder/data/skill.js?v4"></script>
		<script src="js/nautsbuilder/data/upgrade.js?v4"></script>
		<script src="js/nautsbuilder/data/step.js?v4"></script>
		<script src="js/nautsbuilder/views/characters.js?v4"></script>
		<script src="js/nautsbuilder/views/character.js?v4"></script>
		<script src="js/nautsbuilder/views/character-build.js?v4"></script>
		<script src="js/nautsbuilder/views/character-order.js?v4"></script>
		<script src="js/nautsbuilder/views/character-info.js?v4"></script>
		<script src="js/nautsbuilder/views/skill.js?v4"></script>
		<script src="js/nautsbuilder/views/upgrade.js?v4"></script>
		<script src="js/nautsbuilder/app.js?v4"></script>
		<script src="js/main.js?v=42"></script>

		<!--<script src="dist/scripts.min.js"></script>-->
		<script>
			var _gaq=[['_setAccount','UA-13184829-2'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
